// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-color-danger: #f04023;
    --ion-color-tertiary: #8400ff;
    --ion-color-highlight: #00ffff;
    --ion-color-unhighlight: #00b7eb;
}
